 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    --primary-color:#d71313;
    --primary-color-light:#ff5656;
    --second-primary-color:#6a7efc;
    --secondary-color: #111111;
    --secondary-color-light:#232220;
    --text-light: #a3a3a3;
    --white: #ffffff;
    --black: #000000;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    font-size: 1.5rem;
    font-weight: 600;
}

.section_subheader{
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.section_subheader::after{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    aspect-ratio: 1;
    background-color: var(--primary-color);
    z-index: -1;
}

.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .75rem 1.5rem;
    outline: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.btn_secondary{
    background-color: transparent;
    border: 1px solid var(--white);
}
.btn_secondary a{
    color: var(--white);
}

.btn_secondary:hover{
    background-color: transparent;
    border: 1px solid var(--second-primary-color);
}

.btn_primary{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn span{
    font-size: 1.2rem;
    transition: 0.3s;
}

.btn:hover span{
    transform: translateX(5px);
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
}

html, 
body{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}



nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}

.nav_logo  a{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white);
}
.nav_logo img{
    width: 50%;
    height: auto;
}


.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    padding: 3px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    transition: .3s;
}

.link a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--second-primary-color);
}

.nav_menu_btn{
    display: none;
    font-size: 1.5rem;
}
 

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    padding: 1.5rem 3rem;
}
.scroll_back{
    float: right;
    padding-left: 5rem;
    color: var(--primary-color);
    font-size: 2.5rem;
}

.header_container{
    padding: 5rem 12rem;
    height: 80vh;
}

.header_container h1{
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.header_container .btn{
    margin: auto;
}
