header{
    background-image: linear-gradient(
        to right, 
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.8)
    ),
    url("Images/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_links .dropdown {
    position: relative;
}

.nav_links .dropdown .dropdown-toggle {
    position: relative;
    color: var(--white);
    padding: 3px;
    font-size: 1rem;
    font-weight: 500;
}

.nav_links .dropdown .dropdown-toggle:hover {
    color: var(--primary-color);
}

.nav_links .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_links .dropdown .dropdown-menu li {
    margin: 0;
    padding: 0;
}

.nav_links .dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 5px;
}

.nav_links .dropdown .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav_links .dropdown .dropdown-menu li a:hover{
    color: var(--primary-color);
    border: none;
    --bs-dropdown-link-active-bg: var(--white);
}


.about,
.mission-vision{
    background-color: var(--secondary-color);
    height: 100vh;
}

.about_container,
.mission-vision_container{
    padding-block: 0;
    
}

.about_grid,
.mission-vision_grid{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 4rem;
    align-items: center;
    background-color: var(--secondary-color-light);
    transform: translateY(-5rem);
    border-radius: 10px;
}
.mission-vision_grid{
    margin-top: 10rem;
}
.about_grid{
    margin-top: 5rem;
}

.about_content .section_header,
.mission-vision_content .section_header{
    margin-bottom: 1rem;
}

.about_content .para,
.mission-vision .para{
    color: var(--text-light);
}

.about_list{
    display: grid;
    gap: 7rem;
}

.about_item{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about_item span{
    padding: 13px 20px;
    font-size: 1.75rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.about_item h4{
    font-size: 1.2rem;
    font-weight: 600;
}
.ri-focus-2-line,
.ri-eye-fill{
    color: var(--primary-color);
}

.stats{
    background-color: var(--black);
    height: 100vh;
}
.stats_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.stats_content .section_header{
    margin-bottom: 1rem;
}

.stats_content .section_header{
    margin-bottom: 1rem;
}

.stats_content .para{
    margin-bottom: 2rem;
    color: var(--text-light);
}

.stats_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.stats_card span{
    font-size: 1.75rem;
    color: var(--primary-color);
}

.stats_card h4{
    font-weight: 700;
    font-size: 2rem;
    
}
.stats_card p{
    font-weight: 500;
}

.stats_image{
    display: grid;
    gap: 2rem;
}

.stats_image img{
    max-width: 450px;
    margin: auto;
    border-radius: 5px;
}

.banner{
    background-image: linear-gradient(
        to right, 
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("Images/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_content{
    max-width: 880px;
}

.banner_content .section_header{
    margin-bottom: 1rem;
}

.banner_content .para{
    max-width: 600px;
    margin-bottom: 2rem;
}

.banner_btns{
    display: flex;
    align-items: center;
    gap: 2rem;
}
/* .services{
  background-color: var(--secondary-color);
}
.services_grid{
    margin-top: 4rem;
    display:inline-flex !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.services_card img{
  max-width: 250px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
} */
/* .services_card > div{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
} */

/* .services_card div span{
  font-size: .9rem;
  color: var(--text-light);
}

.services_card div span i{
  margin-right: 5px;
  font-size: 1rem;
  color: var(--primary-color);
}

.services_card h4{
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
}

.services_card p{
  color: var(--text-light);
} */



/* login */

.btn.btn-outline-light {
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 20px;
    width: 100px;
    height: 27px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
  }
  
  .btnLogin-popup {
    width: 50px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    
   }
  
  .btnLogin-popup:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--second-primary-color);
  }

  .wrapper {
    background-color: var(--secondary-color-light);
    position:absolute;
    width: 400px;
    height: 440px;
    border: 2px solid var(--second-primary-color);
    border-radius: 20px;
    top: 20%;
    left: 35.33%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform:scale(0);
    transition: transform .5 ease, height .2s ease;
  }
  
  
  .wrapper.active-popup {
    transform:scale(1);
  }
  
  .wrapper.active {
    height: 520px;
  }
  
  .wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--second-primary-color);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .wrapper .form-box {
    width: 100%;
    padding: 30px;
    background-color: var(--secondary-color-light);
  }
  
  .wrapper .form-box.login {
      transition: transform .18s ease;
      transform: translateX(0);
  }
  
  .wrapper.active .form-box.login {
    transition: none;
    transform:translateX(-400px);
  }
  
  
   .wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
  }  
  
  .wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
  }
  
  .form-box h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--second-primary-color);
    margin: 30px 0;
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--white);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -5px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--white);
    font-weight: bold;
    padding: 0 35px 0 5px;
  }
  
  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--second-primary-color);
    line-height: 57px;
  }
  
  .remember {
    font-size: 15px;
    color: var(--white);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .remember label input {
    accent-color: var(--white);
    margin-right: 3px;
  }
  
  .remember a {
    color: var(--white);
    text-decoration: none;
  }
  
  .remember a:hover {
    text-decoration: underline;
  }
  
  .btn-login-register {
    width: 100%;
    height: 45px;
    background-color: var(--second-primary-color);
    border: none;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: bolder;
    text-align: center;
  }
  
  
  .login-register {
    font-size: 15px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  
  .login-register p a {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-register p a:hover {
    text-decoration: underline;
  }
  
  button a {
    text-decoration: none;
    color: white;
  }
  