:root{
    --primary-color:#d71313;
    --primary-color-light:#ff5656;
    --second-primary-color:#6a7efc;
    --secondary-color: #111111;
    --secondary-color-light:#232220;
    --text-light: #a3a3a3;
    --white: #ffffff;
    --black: #000000;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(
        to right, 
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
    ),
    url('Images/homepage-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.navbar .navbar-nav li .dropdown-item {
    color: var(--black);
}

.navbar .navbar-nav li .dropdown-item:hover {
    color: var(--primary-color);
    border-bottom: none;
}

@media only screen and (min-width: 320px){
    .header-2{
        display: none;
    }
    .burger-items{
        display: flex;
        margin-top: 20px;
    }
    .burger-items a{
        display: none;
    }
    .burger-items .navbar-collapse .navbar-nav{
        background-color: #dce0e1;
    }
    .navbar-collapse ul li a{
        color: #fff;
    }
    .navbar{
        width: 100%;
    }
    .navbar .container-fluid img{ 
    width: 200px;
    }
    .navbar-toggler{
        background-color: #fff !important;
        margin-left:50%;
        height: 40px;
    }
    .dropdown-menu li a{
        color: #111111;
    }
    .nav_links .dropdown {
        position: relative;
    }
    .nav_links .dropdown .dropdown-toggle {
        position: relative;
        color: var(--white);
        padding: 3px;
        font-size: 1rem;
        font-weight: 500;
    }
    .nav_links .dropdown .dropdown-toggle:hover {
        color: var(--primary-color);
    }
    .nav_links .dropdown .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav_links .dropdown .dropdown-menu li {
        margin: 0;
        padding: 0;
    }
    .nav_links .dropdown:hover .dropdown-menu {
        display: block;
        border-radius: 5px;
    }
    .nav_links .dropdown .dropdown-menu li a {
        display: block;
        padding: 10px 20px;
        color: #111111;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
    }
    .nav_links .dropdown .dropdown-menu li a:hover{
        color: var(--primary-color);
        border: none;
        --bs-dropdown-link-active-bg: var(--white);
    }
    .shopping i{
        color: var(--second-primary-color);
        cursor: pointer;
    }
    .main-product-div{
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        transition: 0.5s;
        margin-left: 15%;
    }
    .adjust-container .main-product-div{
        transition: 0.5s;
        margin-top: 250px;
       
    }
    .main-product-div .cards .image{
        background-color: #fff;
    }
    .main-product-div .cards {
        background-color: #111111;
       text-align: center;
       margin: 10px;
       border-radius: 10px;
    }
    .main-product-div button{
        background-color: blue;
        margin-bottom: 10px;
        border-radius: 5px;
        width: 200px;
    }
    .main-product-div button a{
        color: #fff;
    }
    .row{
        display: grid;
        justify-content: center;
    }
  
    .col-6 .message{
        background-color: #111111;
        width: 300px;
        padding: 10px;
    }
    .message input{
        width: 280px;
        margin-bottom: 5px;
    }
    #messageBody{
        width: 280px;
        margin-top: 10px;
    }
    .message button{
        background-color: blue;
        color: #fff;
        border-radius: 5px;
        width: 150px;
    }
    .col-careers{
        background-color: #000000;
        margin-top: 15px;
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        padding: 5px;
    }
    .sns{
        margin-bottom: 10px;
    }
    .navbar .navbar-nav li a:hover{
        color: red;
        border-bottom: 1px solid var(--second-primary-color);
    }
    .nav_links .dropdown .dropdown-toggle:hover {
        color: var(--primary-color);
    }
    .nav_links .dropdown .dropdown-menu li a:hover{
        color: black !important;
        border: none;
        --bs-dropdown-link-active-bg: var(--white);
    }
}

@media only screen and (min-width: 426px){
  .navbar{
    margin-left: 25%;
  }
  .burger-items{
    gap: 40%;
  }
  .burger-items button{
    margin-left: 50%;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
  .career-contact{
    display: flex;
    gap: 50px;
    margin-left: 10%;
  }
   
}

@media only screen and (min-width: 1024px){
   
    .burger-items{
        display: block;
        margin-left: -10%;
    }
    .burger-items a{
        display: block;
        color: #fff;
        font-size: 1.2em;
        font-weight: 700;
    }
    /* .collapse{
        margin-left: 13%;
    } */
    .navbar-nav{
        gap: 20px;
       
    }
    .dropdown-menu {
        padding-left: 0 !important;
        margin-left: 0 !important;
        text-align: start;
       
        border: 2px solid red;
        width: 180px !important;
        /* background-color: #000000; */
    }
    .cartImage i{
        font-size: 30px;
    }
    .container-fluid{
        gap: 250px;
    }
    .cartImage{
        display: flex;
    }
    .main-product-div{
        display: flex;
        gap: 50px;
        margin-left: 50px;
    }
    .main-product-div .cards img{
        width: 300px;
        height: 250px;
    }
    .cards{
        width: 25%;
        display: block;
        height: 480px;
        justify-content: center;
        align-content: center; 
        text-align: center;align-items: center;
        border-radius: 10px;
        
    }
    .cards .image img{
        width: 100%;
    }
    .cards .product-name{
        height: 100px;
    }
    .cards .product-description{
        padding: 5px;
    }
    .message input{
        width: 380px;
    }
    .message #messageBody{
        width: 380px;
    }
    .row{
        margin-bottom: 20px;
        margin-top: 50px;
        padding-top: 10px;
    }
    .col-contact{
        height: 400px;
        background-color: #111111;
        width: 400px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .col-careers{
        height: 400px;
        background-color: #111111;
        width: 400px;
        border-radius: 10px;
        padding: 20px;
    }
    .sns{
        margin-top: 50px;
        margin-bottom: 50px;
        border: 1px solid black
    }
    .career{
        text-align: center;
        border: 1px solid black;
    }
   
}
