@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    background-image: linear-gradient(
        to right, 
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url('Images/homepage-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
header{
    background-image: linear-gradient(
        to right, 
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.8)
    ),
    url("Images/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .row{
    justify-content: center;
    margin: auto;
    color: #0000;
    margin-top: 20px;
    width: 500px;
    background-color: #fff;
    display: flex;
    
}
.row .inputs label{
   color: black;
    margin: 30px;
}
.row input{
    width: 250px;
    margin-left: 5%;
    border: 2px solid black;
    
}
.inputs .button{
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 5%;
    margin: 10px;
}
.inputs .body{
    color: black;
    
}
.dropdown-menu li a{
    color: black;
}
.nav_links .dropdown {
    position: relative;
}

.nav_links .dropdown .dropdown-toggle {
    position: relative;
    color: var(--white);
    padding: 3px;
    font-size: 1rem;
    font-weight: 500;
}

.nav_links .dropdown .dropdown-toggle:hover {
    color: var(--primary-color);
}

.nav_links .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_links .dropdown .dropdown-menu li {
    margin: 0;
    padding: 0;
}

.nav_links .dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 5px;
}

.nav_links .dropdown .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav_links .dropdown .dropdown-menu li a:hover{
    color: var(--primary-color);
    border: none;
    --bs-dropdown-link-active-bg: var(--white);
}
.navbar-nav .shopping{
    gap: 5px;
    color: var(--white);
    padding-top: 5px; 
}
.cartImage{
    width: 50px;
    text-decoration: none;
    font-size: 30px;
    color: var(--white);
    padding-left: 10px;
    display: flex;
}
.cart-quantity{
    margin-left: 10px;
    font-size: 30px;
    color: var(--primary-color);
}
.shopping i{
    color: var(--second-primary-color);
    cursor: pointer;
}
#header-name{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.myProfile{
    background-color: var(--secondary-color-light);
    width: 60%;
    margin: 30px auto;
    padding: 10px 50px 30px 140px;
    border-radius: 12px;
}
.form-row{
    display: flex;
    justify-content: space-between;

}
input{
    border-radius: 5px;
    padding: 2px;
}
input#name{
    width:96%;
}
input#gender, 
input#bday,
input#email,
input#contact{
    width: 90%;
}
input#address{
    height: 80px;
    width: 96%;
    word-wrap: break-word;
}


