body {
    font-family: Arial, sans-serif;
    background-image: url(Images/homepage-bg.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

.checkoutcontainer {
    width: 50%;
    margin: 20px auto;
    background-color: #ddd;
    padding: 10px;
}
.checkoutcontainer .head{
    display: flex;
    justify-content: space-between;
}
.checkoutcontainer a{
    text-decoration: none;
    color: #e63232;
}

h2, h3 {
    color: #333;
}

.checkoutsummary {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}
.table{
    width: 100%;
    border: 1px solid #ddd;
    justify-content: space-between;
   text-align: center;
}


#unit-price{
    display: flex;
    
}
#unit-price span{
    margin-right: 5px ;
}
.item-name{    
    width: 200px;
}
.itemTotalPrice{    
    display: flex;
   
}
.itemTotalPrice span{
    margin-right: 5px;
}
.summary-item {    
    justify-content: space-between;
    padding: 10px 0;
    list-style: none;
    border: 1px solid #ddd;
}
.summary-item li{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 10px;

}
.summary-item img{
    height: 50px;
    
}

.total-amount {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 20px;
    border-top: 1px solid #ddd;
    color: #e63232;
    font-size: 25px;
}

.checkoutform .input {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}
.checkoutsummary .total-amount{
    justify-content: end;
    display: flex;
    border: 1px solid #ddd;
    width: 100%;
    gap: 20px;
}

.confirm-button {
    background-color: #0000ff;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.confirm-button:hover {
    background-color: #02026b;
}


.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
h3 {
  background-color: #e4e9fd;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
}
.tab-content {
  background-color: #ffffff;
  padding: 50px 40px;
}
.tab-content h4 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000224;
  font-weight: 600;
}
.tab-content p {
  text-align: justify;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: #202238;
  height: 250px;
  
}
.tab-content div {
  display: none;
}
.tab-content .active {
  display: block;
}
.tabs .active {
  background-color: #ffffff;
  color: #4d5bf9;
}
.cashOD span{
    color: #e63232;
}
.tab-content section{
    display: flex;    
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    
    
}
.tab-content article{
    padding-left: 10px;
    font-size: 12px;
    
}
.tab-content img{
    width: 100px;
    padding-left: 10px;
}
.tab-content h5{
    height: 258px;
    
    width: 100%;
}
.tab-content label{
    display: flex;
}



/* Responsive Design */
@media (max-width: 768px) {
    .checkout-container {
        width: 95%;
    }
}
