h5{
    font-size: 15px;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    height: 15vh;
}
.tvi, .gbp, .ccc,
.smb, .gsm, .smfi,
.tsi, .mpc, .tmi {
    width: 90%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    height: 15vh;
    margin-bottom: 10px;
}

.tvi{
    background-image: url(https://aboitizpower.com/uploads/media/Therma-Visayas,-Inc.jpg);
    background-size: cover;
    background-position: center;
}
.gbp{
    background-image: url(https://www.manilatimes.net/manilatimes/uploads/images/2021/11/16/27217.jpg);
    background-size: cover;
    background-position: center;
}
.ccc{
    background-image: url(https://cebudailynews.inquirer.net/files/2018/10/f100818-ccc-201-1024x682.jpg);
    background-size: cover;
    background-position: center;
}
.smb{
    background-image: url(https://1cms-img.imgix.net/Photo%20option%20-%203.jpg?auto=compress);
    background-size: cover;
    background-position: center;
}
.gsm{
    background-image: url("gsmi.jpg");
    background-size: cover;
    background-position: center;
}
.smfi{
    background-image: url(https://www.sanmiguel.com.ph/storage/images/article/item/609844f06f4e5.webp);
    background-size: cover;
    background-position: center;
}
.tsi{
    background-image: url(https://media.philstar.com/images/the-philippine-star/nation/20160108/davao-baseload-power-plant.jpg);
    background-size: cover;
    background-position: center;
}
.mpc{
    background-image: url(https://www.smcglobalpower.com.ph/assets/img/04-OurBusinesses/OurBusinesses_Malita.png);
    background-size: cover;
    background-position: center;
}
.tmi{
    background-image: url(https://aboitizpower.com/uploads/media/Therma-Mobile,-Inc.jpg);
    background-size: cover;
    background-position: center;
}
.title{
    font-family: "Trirong";
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .title{
        font-size: 15px;
        text-align: center;
        color:black;
        margin-top: -15px;
    }
    .tvi, .gbp, .ccc,
    .smb, .gsm, .smfi,
    .tsi, .mpc, .tmi {
        width: 30%;
        margin: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        height: 15vh;
        margin-bottom: 10px;
    }
    .r1, .r2, .r3{
        display: flex;
        justify-content: center;
        
    } 
}







