
  .container {
    background-color: White;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    width: auto;
    height: 500px;
  }

  .btn {
    background: transparent;
    color: black;
    border-color: #6a7efc;
    text-decoration: none;
  }

  .btn a {
    background: transparent;
    color: black;
    border-color: #6a7efc;
    text-decoration: none;
  }

  button{
    text-decoration: none;
    text-decoration-color:#bc4749;
  }

  .btn:hover {
    border-color: #6a7efc;
    color: #ff5656;
    background: transparent;
  }

  .btn a:hover {
    border-color: #6a7efc;
    color: #ff5656;
    background: transparent;
  }

  #home-btn:hover {
    border-color: #6a7efc;
    color: #ff5656;
    background: transparent;
  }

  img{
    max-width: 150px;
  }
  /* .container{
    width: 95%;
  } */
  h2{
    font-size: 22px;
    margin-top: 10px;
    color: black;
}
label{
  font-size: 12px;
}
.form-control{
  margin: auto;

}
a{
  color: white;
}

@media only screen and (min-width: 768px){
  .container {
    padding: 12px;
  }
  .container{
    margin-top: 0px;
    width: 90%;
  }
  
}
@media only screen and (min-width: 1024px){
  .container {
    padding: 10px;
  }
  .container{
    margin-top: 0px;
    width: 65%;
  }
  label{
    font-size: 15px;
  }
  
}
