body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
img{
    width: 180px;
    height: 122px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}

.cart {
    border: 1px solid #333;
    padding: 10px;
    width: 350px;
    float: right;
    display: none;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
}

.cart.active button{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

.cart.active {
    display: block;
    width: 500px;
    background-color: #fff;
}

.cart-close {
    text-align: right;
    
}

.cart-close button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    color: red;
}


.cart-items {
    max-height: 200px;
    overflow-y: auto;
}

.cart-footer {
    text-align: right;
}

.cart-footer button {
    padding: 5px 10px;
    background-color: #004225;
    color: white;
    border: none;
    cursor: pointer;
}

button.delete-item{
    background-color: red;
    color: white;
}

.cart-item {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.add-to-cart {
    padding: 5px 10px;
    background-color: #EE9322;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: monospace;
}

.cart-quantity {
    font-size: 12px;
    color: #888;
}

#cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #EE9322;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.cart {
    position: fixed;
    top: 70px; 
    right: 20px;
    border: 1px solid #333;
    padding: 10px;
    width: 350px;
    display: none;
    z-index: 1000; 
}
